.footer-container
 {
	
	
	font-size: 1.5rem;
	height: auto;

	
	
	
 }

ul {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	

	
}


ul li {
	
	text-decoration: none;
	list-style: none;
	
}


.footer-ul {
	
	font-family: 'Poor Story', cursive;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
	padding: 5px;
	
}

.icon-container {
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
	
	
}

.icon-item {
	margin-left: 10px;
}