.botonera {
	display: flex;
	justify-content: space-evenly;

	
}

input {
	width : 80%!important;
	margin: 30px auto;
	border: 2px solid green!important;
	
	
}
.form-control {
	font-size: 0.5rem;
	
}

.price {
	font-family: Lato, sans serif;
	font-weight: 900;
	font-size: 1.5rem;
	
}

.dark {
	
	background-color: black;
	color: white;
	
}

.light {
	background-color: white;
	color: black;

	
}

