

.container {

	padding: 20px;
	
}


.botonera {
	display: flex;
	justify-content: space-evenly;
	margin: 20px;
	
}

input {
	width : 50%!important;
	margin: 50px auto;
	border: 2px solid green!important;
	
}

.price {
	font-family: Lato, sans serif;
	font-weight: 900;
	font-size: 2.2rem;
	
}

.dark {
	
	background-color: black;
	color: white;
	margin: 50px;
}

.light {
	background-color: white;
	color: black;
	margin: 50px;
	
}